<div class="gcp-layout">
  <!-- Header -->
  <mat-toolbar class="gcp-header" color="primary">
    <button
      mat-icon-button
      class="menu-button"
      (click)="toggleSidenav()"
      aria-label="Toggle sidenav">
      <mat-icon>menu</mat-icon>
    </button>
    
    <div class="gcp-header-content">
      <div class="gcp-logo">
        <mat-icon class="gcp-cloud-icon">cloud</mat-icon>
        <span class="gcp-title">Google Cloud</span>
      </div>
      
      <div class="gcp-project-picker">
        <app-project-picker (projectSelected)="onProjectSelected($event)"></app-project-picker>
      </div>
      
      <div class="gcp-header-spacer"></div>
      
      <div class="gcp-user-menu" *ngIf="currentUser$ | async as user">
        <button mat-icon-button [matMenuTriggerFor]="userMenu" class="user-avatar">
          <img 
            *ngIf="user.picture; else defaultAvatar" 
            [src]="user.picture" 
            [alt]="user.name"
            class="avatar-image">
          <ng-template #defaultAvatar>
            <mat-icon>account_circle</mat-icon>
          </ng-template>
        </button>
        
        <mat-menu #userMenu="matMenu" class="user-menu">
          <div class="user-info">
            <div class="user-name">{{ user.name }}</div>
            <div class="user-email">{{ user.email }}</div>
          </div>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="signOut()">
            <mat-icon>logout</mat-icon>
            <span>Sign out</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar>

  <!-- Sidenav Container -->
  <mat-sidenav-container class="gcp-sidenav-container">
    <mat-sidenav
      #sidenav
      mode="side"
      [opened]="sidenavOpened"
      class="gcp-sidenav"
      fixedInViewport="true">
      
      <nav class="gcp-nav">
        <mat-nav-list class="gcp-nav-list">
          <!-- Network Topology - Main Dashboard -->
          <mat-list-item 
            routerLink="/network-topology" 
            routerLinkActive="active"
            class="gcp-nav-item network-topology-item">
            <mat-icon matListItemIcon>hub</mat-icon>
            <span matListItemTitle>Network Topology</span>
          </mat-list-item>
          
          <!-- Flow Topology -->
          <mat-list-item 
            routerLink="/flow-topology" 
            routerLinkActive="active"
            class="gcp-nav-item">
            <mat-icon matListItemIcon>device_hub</mat-icon>
            <span matListItemTitle>Flow Topology</span>
          </mat-list-item>
          
          <!-- Flow Logs Edge Explorer -->
          <mat-list-item 
            routerLink="/flow-logs-edge-explorer" 
            routerLinkActive="active"
            class="gcp-nav-item">
            <mat-icon matListItemIcon>network_check</mat-icon>
            <span matListItemTitle>Flow Logs Edge Explorer</span>
          </mat-list-item>
          
          <!-- Metric Edge Explorer -->
          <mat-list-item 
            routerLink="/metric-edge-explorer" 
            routerLinkActive="active"
            class="gcp-nav-item">
            <mat-icon matListItemIcon>analytics</mat-icon>
            <span matListItemTitle>Metric Edge Explorer</span>
          </mat-list-item>

          <mat-divider></mat-divider>

          <!-- Metric Documentation -->
          <mat-list-item
            routerLink="/metric-documentation"
            routerLinkActive="active"
            class="gcp-nav-item">
            <mat-icon matListItemIcon>school</mat-icon>
            <span matListItemTitle>Metric Documentation</span>
          </mat-list-item>

          <!-- Flow Logs Documentation -->
          <mat-list-item
            routerLink="/flow-logs-documentation"
            routerLinkActive="active"
            class="gcp-nav-item">
            <mat-icon matListItemIcon>book</mat-icon>
            <span matListItemTitle>Flow Logs Documentation</span>
          </mat-list-item>
        </mat-nav-list>
      </nav>
    </mat-sidenav>

    <!-- Main Content -->
    <mat-sidenav-content class="gcp-main-content">
      <div class="gcp-content-wrapper">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
